<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="comp3350.AAS">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AcademicAssistanceSystem">
        <activity android:name=".presentation.MakeTfQuizActivity"></activity>
        <activity android:name=".presentation.ViewQuizAnswerActivity" />
        <activity android:name=".presentation.QuizHomeActivity" />
        <activity android:name=".presentation.SelectQuizActivity" />
        <activity android:name=".presentation.ViewStatsActivity" />
        <activity android:name=".presentation.AnswerActivity" />
        <activity android:name=".presentation.MakeMcqQuizActivity" />
        <activity android:name=".presentation.StartQuizActivity" />
        <activity android:name=".presentation.CardListActivity" />
        <activity android:name=".presentation.FolderListActivity" />
        <activity android:name=".presentation.FlashCardActivity" />
        <activity android:name=".presentation.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>